[access]
	inheritFrom = scm/acls/domain_graphics_and_ui_framework/x_window_system
[project]
	description = "Domain: Graphics & UI Framework;"\n\
"Maintainers: Sangjin Lee;"\n\
"Integrators: Boram Park;"\n\
"Licenses: MIT-style,CDDL,FSF,Trademark-ref,OpenGroup;"
[receive]
	requireSignedOffBy = false
	requireChangeId = false
